# Guided Capstone 2 - NBA Win Model Prediction Using Machine Learning

# Section 0: Importing Libraries

In [228]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from datetime import datetime

# Section 1: Data Import and combination

In our investigation, our attempt to recreate the prior investigators model will require data of the same time period and features. In the prior investigation, the data used produce their NBA win prediction model covered a 12 season span, between the seasons of 2008 - 2009 to 2019 - 2020. 

Kaggale offers several databases that include the data portion mentioned above, and can wrangled to reflect the data of the prior investigation

# Section 1.1: Data Stitching

From Kaggle, separate sets have been acquired for both individual players statistics per game, and team statistics per game. These sets are separated by season.

In [229]:
#Below code appends datasets together based on file names.
start_year = 2008
end_year = 2009

team_stats = pd.DataFrame()
player_stats = pd.DataFrame()

for i in range(12) :
    player_stats_file_path = '/Users/Shawn/Documents/UNH_ML_SLF/MLassignments/UNH-Repo/DS_Guided_Capstone_2_Repo/virenv/player_stats/' + str(start_year) + "-" + str(end_year) + '.csv'
    team_stats_file_path = '/Users/Shawn/Documents/UNH_ML_SLF/MLassignments/UNH-Repo/DS_Guided_Capstone_2_Repo/virenv/team_stats/' + str(start_year) + "-" + str(end_year) + '.csv'
    player_stats = player_stats.append(pd.read_csv(player_stats_file_path))
    team_stats = team_stats.append(pd.read_csv(team_stats_file_path))
    
    start_year = start_year + 1
    end_year = end_year + 1

Reviewing the data that we combined

In [230]:
player_stats.shape

(373069, 26)

In [231]:
player_stats.head()

,Player,Date,Team,Against,Home,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-,GameLink
0,LeBron James,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,36.00,9.0,21.0,0.429,0.0,...,6.0,7.0,6.0,2.0,1.0,3.0,4.0,22.0,-3.0,https://www.basketball-reference.com/boxscores...
1,Delonte West,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,35.29,2.0,4.0,0.500,0.0,...,2.0,2.0,2.0,0.0,0.0,1.0,0.0,6.0,-10.0,https://www.basketball-reference.com/boxscores...
2,Mo Williams,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,31.18,4.0,10.0,0.400,3.0,...,3.0,3.0,2.0,1.0,0.0,4.0,5.0,12.0,3.0,https://www.basketball-reference.com/boxscores...
3,Zydrunas Ilgauskas,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,30.24,3.0,5.0,0.600,0.0,...,5.0,8.0,1.0,0.0,0.0,4.0,3.0,15.0,7.0,https://www.basketball-reference.com/boxscores...
4,Ben Wallace,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,19.03,1.0,1.0,1.000,0.0,...,4.0,4.0,0.0,0.0,1.0,1.0,2.0,2.0,-1.0,https://www.basketball-reference.com/boxscores...

In [232]:
player_stats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 373069 entries, 0 to 27739
Data columns (total 26 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Player    373069 non-null  object
 1   Date      373069 non-null  object
 2   Team      373069 non-null  object
 3   Against   373069 non-null  object
 4   Home      373069 non-null  int64
 5   MP        311326 non-null  float64
 6   FG        311326 non-null  float64
 7   FGA       311326 non-null  float64
 8   FG%       295932 non-null  float64
 9   3P        311326 non-null  float64
 10  3PA       311326 non-null  float64
 11  3P%       199196 non-null  float64
 12  FT        311326 non-null  float64
 13  FTA       311326 non-null  float64
 14  FT%       179762 non-null  float64
 15  ORB       311326 non-null  float64
 16  DRB       311326 non-null  float64
 17  TRB       311326 non-null  float64
 18  AST       311326 non-null  float64
 19  STL       311326 non-null  float64
 20  BLK       311326 non-null  float64
 21  TOV       311326 non-null  float64
 22  PF        311326 non-null  float64
 23  PTS       311326 non-null  float64
 24  +/-       311276 non-null  float64
 25  GameLink  373069 non-null  object
dtypes: float64(20), int64(1), object(5)
memory usage: 76.8+ MB

In [233]:
team_stats.shape

(15348, 124)

In [234]:
team_stats.head()

,gmDate,seasonType,season,teamWins,teamLosses,teamAbbr,teamLoc,teamRslt,teamDayOff,teamPTS,...,opptOrtg,opptDrtg,opptEDiff,opptPlay%,opptAR,opptAST/TO,opptSTL/TO,opptPoss,opptPace,matchWinner
0,2008-10-28,Regular,2008-09,0,1,CLE,Away,Loss,0.0,85.0,...,96.9,91.5,5.4,0.41,17.57,1.00,0.62,92.9,92.9,BOS
1,2008-10-28,Regular,2008-09,0,1,MIL,Away,Loss,0.0,95.0,...,120.3,105.8,14.5,0.48,28.53,1.50,0.50,89.8,89.8,CHI
2,2008-10-28,Regular,2008-09,0,1,POR,Away,Loss,0.0,76.0,...,107.7,85.3,22.4,0.44,18.08,1.27,0.53,89.1,89.1,LAL
3,2008-10-29,Regular,2008-09,1,0,TOR,Away,Win,0.0,95.0,...,99.8,112.8,-13.0,0.37,14.47,0.88,0.18,84.2,84.2,TOR
4,2008-10-29,Regular,2008-09,1,0,NJN,Away,Win,0.0,95.0,...,94.6,105.7,-11.1,0.36,17.86,1.20,0.27,89.9,89.9,NJN

In [235]:
team_stats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15348 entries, 0 to 1142
Columns: 124 entries, gmDate to matchWinner
dtypes: float64(110), int64(4), object(10)
memory usage: 14.6+ MB

# 1.2 Cleaning player_stats

Now that the data is appened together, we will review and clean the data.

In [236]:
#Reorder columns and naming
col = ['Player', 'Team', 'Against', 'Date']
other = [x for x in player_stats.columns if x not in col]
player_stats= player_stats[col + other]

In [237]:
#Dropping unecessary columns

player_stats.drop(columns = ['FG%', '3P%', 'FT%', 'GameLink'], inplace = True)

#'GameLink' turns out to be strings with no interesting information. If the full link was available, possible use to create Game IDs based on URL, however, that is not the case, and this column should be removed as it provides nothing of value.

In [238]:
#Checking for isnull()

player_stats.isna().sum()

Player         0
Team           0
Against        0
Date           0
Home           0
MP         61743
FG         61743
FGA        61743
3P         61743
3PA        61743
FT         61743
FTA        61743
ORB        61743
DRB        61743
TRB        61743
AST        61743
STL        61743
BLK        61743
TOV        61743
PF         61743
PTS        61743
+/-        61793
dtype: int64

While evaluating the NA values, we see that we do have a good chunk of NaN data. But we shouldn't be quick to delete, as it is quite normal for players to record 0 stats when they do not play. The data also reflects that only the players who played zero mins have NaN's in their stats.

In [239]:
player_stats = player_stats[player_stats['MP'].notna()]

In [240]:
player_stats.isna().sum()

Player      0
Team        0
Against     0
Date        0
Home        0
MP          0
FG          0
FGA         0
3P          0
3PA         0
FT          0
FTA         0
ORB         0
DRB         0
TRB         0
AST         0
STL         0
BLK         0
TOV         0
PF          0
PTS         0
+/-        50
dtype: int64

In [241]:
#Converting 'Date' column to datetime object

player_stats['Date'] = pd.to_datetime(player_stats['Date'])

In [242]:
clean_player_stats = player_stats

In [243]:
clean_player_stats.shape

(311326, 22)

# 1.3 Cleaning team_stats

In [244]:
team_stats.columns.tolist()

['gmDate',
 'seasonType',
 'season',
 'teamWins',
 'teamLosses',
 'teamAbbr',
 'teamLoc',
 'teamRslt',
 'teamDayOff',
 'teamPTS',
 'teamAST',
 'teamTO',
 'teamMin',
 'teamSTL',
 'teamBLK',
 'teamPF',
 'teamFGA',
 'teamFGM',
 'teamFG%',
 'team2PA',
 'team2PM',
 'team2P%',
 'team3PA',
 'team3PM',
 'team3P%',
 'teamFTA',
 'teamFTM',
 'teamFT%',
 'teamORB',
 'teamDRB',
 'teamTRB',
 'teamPTS1',
 'teamPTS2',
 'teamPTS3',
 'teamPTS4',
 'teamPTS5',
 'teamPTS6',
 'teamPTS7',
 'teamPTS8',
 'teamPTS9',
 'teamPTS10',
 'teamTREB%',
 'teamASST%',
 'teamTS%',
 'teamEFG%',
 'teamOREB%',
 'teamDREB%',
 'teamTO%',
 'teamSTL%',
 'teamBLK%',
 'teamBLKR',
 'teamPPS',
 'teamFIC',
 'teamFIC40',
 'teamOrtg',
 'teamDrtg',
 'teamEDiff',
 'teamPlay%',
 'teamAR',
 'teamPoss',
 'teamAST/TO',
 'teamPace',
 'teamSTL/TO',
 'opptWins',
 'opptLosses',
 'opptAbbr',
 'opptLoc',
 'opptRslt',
 'opptDayOff',
 'opptPTS',
 'opptAST',
 'opptTO',
 'opptMin',
 'opptSTL',
 'opptBLK',
 'opptPF',
 'opptFGA',
 'opptFGM',
 'opptFG%',
 'oppt2PA',
 'oppt2PM',
 'oppt2P%',
 'oppt3PA',
 'oppt3PM',
 'oppt3P%',
 'opptFTA',
 'opptFTM',
 'opptFT%',
 'opptORB',
 'opptDRB',
 'opptTRB',
 'opptPTS1',
 'opptPTS2',
 'opptPTS3',
 'opptPTS4',
 'opptPTS5',
 'opptPTS6',
 'opptPTS7',
 'opptPTS8',
 'opptPTS9',
 'opptPTS10',
 'opptTREB%',
 'opptASST%',
 'opptTS%',
 'opptEFG%',
 'opptOREB%',
 'opptDREB%',
 'opptTO%',
 'opptSTL%',
 'opptBLK%',
 'opptBLKR',
 'opptPPS',
 'opptFIC',
 'opptFIC40',
 'opptOrtg',
 'opptDrtg',
 'opptEDiff',
 'opptPlay%',
 'opptAR',
 'opptAST/TO',
 'opptSTL/TO',
 'opptPoss',
 'opptPace',
 'matchWinner']

In [245]:
#Our analysis will focus on regular season for the recreating portion of our anaylysis. 
team_stats['seasonType'].unique()

#We will separate the data into regular season and playoffs.

team_stats = team_stats[team_stats['seasonType']=='Regular']

In [246]:
team_stats['seasonType'].unique()

array(['Regular'], dtype=object)

In [247]:
#The games stats are recorded as team vs. opponent with another column indicating whether this is a home game or an away game. 
#This format leaves me to suspect there is double data of the same game. Let's investigate. 

team_stats['gmDate'] = pd.to_datetime(team_stats['gmDate'])
team_stats[['teamAbbr', 'teamLoc', 'opptAbbr', 'opptLoc']][team_stats['gmDate'] == datetime(2008,10,29)]

#Seems our suspicion was wrong and away_games=team as home_games=opp. We will keep this in mind during feature engineering.

   teamAbbr teamLoc opptAbbr opptLoc
3       TOR    Away      PHI    Home
4       NJN    Away      WAS    Home
5       ATL    Away      ORL    Home
6       MIA    Away      NYK    Home
7       PHO    Away      SAS    Home
8       MIL    Away      OKC    Home
9       SAC    Away      MIN    Home
10      IND    Away      DET    Home
11      MEM    Away      HOU    Home
12      DEN    Away      UTA    Home
13      LAL    Away      LAC    Home
14      NOH    Away      GSW    Home

In [262]:
#We need a gameID column to make our later calculations easier. Seems there is no redundant game information, it's possible to use their index as game ID.
#Best if we sort first by chronological order prior to creating the game index. 

team_stats = team_stats.sort_values(by = 'gmDate', ascending = True)
team_stats.reset_index()
gid = pd.DataFrame()
for i in range(len(team_stats)):
    gid.append(i)

team_stats['GameID'] = gid

TypeError: cannot concatenate object of type '<class 'int'>'; only Series and DataFrame objs are valid

In [251]:
team_stats[['GameID','teamAbbr', 'teamLoc', 'opptAbbr', 'opptLoc']][team_stats['gmDate'] == datetime(2015,10,28)]

    GameID teamAbbr teamLoc opptAbbr opptLoc
12      13      DEN    Away      HOU    Home
13      14      DAL    Away      PHO    Home
11      12      CLE    Away      MEM    Home
15      16      LAC    Away      SAC    Home
16      17      MIN    Away      LAL    Home
14      15      NOP    Away      POR    Home
10      11      SAS    Away      OKC    Home
6        7      UTA    Away      DET    Home
8        9      CHO    Away      MIA    Home
7        8      IND    Away      TOR    Home
5        6      CHI    Away      BRK    Home
4        5      PHI    Away      BOS    Home
3        4      WAS    Away      ORL    Home
9       10      NYK    Away      MIL    Home

In [162]:
#Renaming Columns

team_stats.rename(columns = {'gmDate' : 'Date', 'teamAbbr' : 'team', 'opptAbbr' : 'opponent' ,'teamFGM': 'teamFGMade', 'team2PM' : 'team2PMade' , 'team3PM' : 'team3PMade', 'teamFTM' : 'teamFTMade',   'opptFGM': 'opptFGMade', 'oppt2PM': 'oppt2PMade', 'oppt3PM' : 'oppt3PMade', 'opptFTM' : 'opptFTMade'}, inplace = True)

In [163]:
#Removing percentage columns and 

team_stats.drop(columns = ['seasonType', 'teamLoc', 'team2P%', 'team3P%', 'teamFT%', 'teamTREB%', 'teamASST%', 'teamTS%', 'teamEFG%', 'teamOREB%', 'teamDREB%', 'teamTO%', 'teamSTL%', 'teamBLK%', 'teamBLKR', 'teamPPS', 'teamFIC', 'teamFIC40' , 'teamPlay%', 'teamAR', 'teamPoss', 'teamPace', 'teamSTL/TO', 'opptLoc', 'oppt2P%', 'oppt3P%', 'opptFT%', 'opptTREB%', 'opptASST%', 'opptTS%', 'opptEFG%', 'opptOREB%', 'opptDREB%', 'opptTO%', 'opptSTL%', 'opptBLK%', 'opptBLKR', 'opptPPS', 'opptFIC', 'opptFIC40', 'opptPlay%', 'opptAR', 'opptSTL/TO', 'opptPoss', 'opptPace'], inplace = True)

In [104]:
#Creating Missed Columns

team_stats['teamFGMissed'] = team_stats['teamFGMade'] - team_stats['teamFGA']
team_stats['team2PMissed'] = team_stats['team2PMade'] - team_stats['team2PA']
team_stats['team3PMissed'] = team_stats['team3PMade'] - team_stats['team3PA']
team_stats['opptFGMissed'] = team_stats['opptFGMade'] - team_stats['opptFGA']
team_stats['oppt2PMissed'] = team_stats['oppt2PMade'] - team_stats['oppt2PA']
team_stats['oppt3PMissed'] = team_stats['oppt3PMade'] - team_stats['oppt3PA']

In [166]:
team_stats.head()

,Date,season,teamWins,teamLosses,team,teamRslt,teamDayOff,teamPTS,teamAST,teamTO,...,opptPTS7,opptPTS8,opptPTS9,opptPTS10,opptOrtg,opptDrtg,opptEDiff,opptAST/TO,matchWinner,GameID
0,2008-10-28,2008-09,0,1,CLE,Loss,0.0,85.0,16.0,21.0,...,0.0,0.0,0.0,0.0,96.9,91.5,5.4,1.00,BOS,1
1,2008-10-28,2008-09,0,1,MIL,Loss,0.0,95.0,21.0,19.0,...,0.0,0.0,0.0,0.0,120.3,105.8,14.5,1.50,CHI,2
2,2008-10-28,2008-09,0,1,POR,Loss,0.0,76.0,19.0,12.0,...,0.0,0.0,0.0,0.0,107.7,85.3,22.4,1.27,LAL,3
3,2008-10-29,2008-09,1,0,TOR,Win,0.0,95.0,24.0,9.0,...,0.0,0.0,0.0,0.0,99.8,112.8,-13.0,0.88,TOR,4
4,2008-10-29,2008-09,1,0,NJN,Win,0.0,95.0,22.0,9.0,...,0.0,0.0,0.0,0.0,94.6,105.7,-11.1,1.20,NJN,5

#Reordering the columns to reflect prior investigation

def alternate_lists(l_1, l_2) :
  l = []
  for i in range(len(l_1)) :
    l.append(l_1[i])
    l.append(l_2[i])
  return l

new_column_order = []
l = ['Date', 'Season', 'team', 'opponent', 'Home_Team_Overall_Record', 
    'Away_Team_Overall_Record', 'Home_Team_Home_Record', 'Away_Team_Away_Record']

# Work from previous version, to be sorted through.

In [105]:
#website - "https://www.kaggle.com/heeebsinc/nbaseasonstats201820"
#The above datasets are split into season from 2000 to 2020. We are only interested in 2008 - 2020.
cs_player= pd.read_csv('/Users/Shawn/Documents/UNH_ML_SLF/MLassignments/UNH-Repo/DS_Guided_Capstone_2_Repo/virenv/player_stats/2008-2009.csv')

In [106]:
cs_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30566 entries, 0 to 30565
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Player    30566 non-null  object
 1   Date      30566 non-null  object
 2   Team      30566 non-null  object
 3   Against   30566 non-null  object
 4   Home      30566 non-null  int64
 5   MP        25638 non-null  float64
 6   FG        25638 non-null  float64
 7   FGA       25638 non-null  float64
 8   FG%       24286 non-null  float64
 9   3P        25638 non-null  float64
 10  3PA       25638 non-null  float64
 11  3P%       14274 non-null  float64
 12  FT        25638 non-null  float64
 13  FTA       25638 non-null  float64
 14  FT%       15393 non-null  float64
 15  ORB       25638 non-null  float64
 16  DRB       25638 non-null  float64
 17  TRB       25638 non-null  float64
 18  AST       25638 non-null  float64
 19  STL       25638 non-null  float64
 20  BLK       25638 non-null  float64
 21  TOV       25638 non-null  float64
 22  PF        25638 non-null  float64
 23  PTS       25638 non-null  float64
 24  +/-       25636 non-null  float64
 25  GameLink  30566 non-null  object
dtypes: float64(20), int64(1), object(5)
memory usage: 6.1+ MB

In [107]:
cs_player.head()

,Player,Date,Team,Against,Home,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-,GameLink
0,LeBron James,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,36.00,9.0,21.0,0.429,0.0,...,6.0,7.0,6.0,2.0,1.0,3.0,4.0,22.0,-3.0,https://www.basketball-reference.com/boxscores...
1,Delonte West,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,35.29,2.0,4.0,0.500,0.0,...,2.0,2.0,2.0,0.0,0.0,1.0,0.0,6.0,-10.0,https://www.basketball-reference.com/boxscores...
2,Mo Williams,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,31.18,4.0,10.0,0.400,3.0,...,3.0,3.0,2.0,1.0,0.0,4.0,5.0,12.0,3.0,https://www.basketball-reference.com/boxscores...
3,Zydrunas Ilgauskas,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,30.24,3.0,5.0,0.600,0.0,...,5.0,8.0,1.0,0.0,0.0,4.0,3.0,15.0,7.0,https://www.basketball-reference.com/boxscores...
4,Ben Wallace,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,19.03,1.0,1.0,1.000,0.0,...,4.0,4.0,0.0,0.0,1.0,1.0,2.0,2.0,-1.0,https://www.basketball-reference.com/boxscores...

Reviewing dataset, we can see that there are certain fields that are either missing, named differently or calculated from other features when comparing the current dataset to the prior investigation dataset. 

(Features missing or different include GameID, BlkFGA, PFTkn, Season. Features that need to be calculated or identified include SST, PPP, Ast/TO, StlPos, FTm, FGm, 3FGm, 2FGm. Missing or different features; GameID, BlkFGA, PFTkn, Season.)

At the moment, we are identifying how to clean the data. Ultimately the intent is the merge all datasets together, and clean the data in the process. A source of code  in the prior investigators section 2: Data Cleaning that is quite useful for stitching

###
start_year = 2008
end_year = 2009

team_stats_combined_df = pd.DataFrame()
player_stats_combined_df = pd.DataFrame()

for i in range(12) :
  team_stats_file_path = '/content/drive/MyDrive/NBA_Data/Team_Stats_' + str(start_year) + " - " + str(end_year) + '.csv'
  player_stats_file_path = '/content/drive/MyDrive/NBA_Data/Player_Stats_' + str(start_year) + " - " + str(end_year) + '.csv'

  team_stats_combined_df = team_df.append(pd.read_csv(team_stats_file_path, index_col = 0))
  player_stats_combined_df = player_df.append(pd.read_csv(player_stats_file_path, index_col = 0))

  start_year = start_year + 1
  end_year = end_year + 1
  
###

In [108]:
print(cs_player['GameLink'])

0        https://www.basketball-reference.com/boxscores...
1        https://www.basketball-reference.com/boxscores...
2        https://www.basketball-reference.com/boxscores...
3        https://www.basketball-reference.com/boxscores...
4        https://www.basketball-reference.com/boxscores...
                               ...
30561    https://www.basketball-reference.com/boxscores...
30562    https://www.basketball-reference.com/boxscores...
30563    https://www.basketball-reference.com/boxscores...
30564    https://www.basketball-reference.com/boxscores...
30565    https://www.basketball-reference.com/boxscores...
Name: GameLink, Length: 30566, dtype: object

'GameLink' turns out to be strings with no interesting information. If the full link was available, possible use to create ID keys based on URL, however, that is not the case, and this column should be removed as it provides nothing of value.

In [109]:
#Code for removing columns for future reference. 
#cs_player = cs_player.drop(['GameLink'], axis=1)

'Season' is a column we can easily add. Since the datasets acquired are separated by season, we can append a column for season when we import the dataset if necessary for our modeling at this moment.

'BlkFGA' is blocked field goals attempts, and PFTkn, personal fouls taken, which are not a widely kept piece of data. This will be re-evaluated to see if is necessary for the model.

Reviewing features that need to be calculated or identified SST, PPP, Ast/TO, StlPos, FTm, FGm, 3FGm, 2FGm.

'SST' was identified as the Sum Squares Total (SST or TSS) and will need to be reviewed whether or not it is necessary to our model.

'PPP' was identified as points per possession. This feature actually will require further scraping of basketball advance stats. Similarly, 'stlPos' is steals per possession and also requires further scraping.

'Ast/TO' is a calculated feature, assist "over" turnovers, and should be calculated per game entry.

ps_player[['PlayerName','2FGA','2FGM','2FGm']][:2]

From above, it's clearn the lower case 'm' represents the missed shots. This will be reviewed for relevancy, however it is not difficult to iterate through the dataset and create this column if necessary.

Reviewing Other categories.

print(set(cs_player['Home']))

As should be, the 'Home' category is binary.

Although the dataset acquire gives us mostly what we need regarding player stats and game details compare to the prior sets, the current player_season_data dataframe only includes years starting 2013 - 2018. We are missing data from 2008 - 2013 and 2018-2020. Which would be necessary if we are to reproduce the prior models.

In [110]:
#Question, when trying to add seasons to the dataset, it seems to immediately jump to 2019 instead of following
#the start year as noted below.
start_year = 2008
end_year = 2009

player_stats_combined_df = pd.DataFrame()

for i in range(12) :
  player_stats_file_path = '/Users/Shawn/Documents/UNH_ML_SLF/MLassignments/UNH-Repo/DS_Guided_Capstone_2_Repo/virenv/player_stats/' + str(start_year) + "-" + str(end_year) + '.csv'

  player_stats_combined_df = player_stats_combined_df.append(pd.read_csv(player_stats_file_path))

  start_year = start_year + 1
  end_year = end_year + 1

In [111]:
player_stats_combined_df.head()

,Player,Date,Team,Against,Home,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-,GameLink
0,LeBron James,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,36.00,9.0,21.0,0.429,0.0,...,6.0,7.0,6.0,2.0,1.0,3.0,4.0,22.0,-3.0,https://www.basketball-reference.com/boxscores...
1,Delonte West,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,35.29,2.0,4.0,0.500,0.0,...,2.0,2.0,2.0,0.0,0.0,1.0,0.0,6.0,-10.0,https://www.basketball-reference.com/boxscores...
2,Mo Williams,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,31.18,4.0,10.0,0.400,3.0,...,3.0,3.0,2.0,1.0,0.0,4.0,5.0,12.0,3.0,https://www.basketball-reference.com/boxscores...
3,Zydrunas Ilgauskas,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,30.24,3.0,5.0,0.600,0.0,...,5.0,8.0,1.0,0.0,0.0,4.0,3.0,15.0,7.0,https://www.basketball-reference.com/boxscores...
4,Ben Wallace,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,19.03,1.0,1.0,1.000,0.0,...,4.0,4.0,0.0,0.0,1.0,1.0,2.0,2.0,-1.0,https://www.basketball-reference.com/boxscores...

In [112]:
#set(player_stats_combined_df['Season'])

In [113]:
player_stats_combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 373069 entries, 0 to 27739
Data columns (total 26 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Player    373069 non-null  object
 1   Date      373069 non-null  object
 2   Team      373069 non-null  object
 3   Against   373069 non-null  object
 4   Home      373069 non-null  int64
 5   MP        311326 non-null  float64
 6   FG        311326 non-null  float64
 7   FGA       311326 non-null  float64
 8   FG%       295932 non-null  float64
 9   3P        311326 non-null  float64
 10  3PA       311326 non-null  float64
 11  3P%       199196 non-null  float64
 12  FT        311326 non-null  float64
 13  FTA       311326 non-null  float64
 14  FT%       179762 non-null  float64
 15  ORB       311326 non-null  float64
 16  DRB       311326 non-null  float64
 17  TRB       311326 non-null  float64
 18  AST       311326 non-null  float64
 19  STL       311326 non-null  float64
 20  BLK       311326 non-null  float64
 21  TOV       311326 non-null  float64
 22  PF        311326 non-null  float64
 23  PTS       311326 non-null  float64
 24  +/-       311276 non-null  float64
 25  GameLink  373069 non-null  object
dtypes: float64(20), int64(1), object(5)
memory usage: 76.8+ MB

In [114]:
player_stats_combined_df.describe()

,Home,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-
count,373069.000000,311326.000000,311326.000000,311326.000000,295932.000000,311326.00000,311326.000000,199196.000000,311326.000000,311326.000000,...,311326.000000,311326.000000,311326.00000,311326.000000,311326.000000,311326.000000,311326.000000,311326.000000,311326.000000,311276.000000
mean,0.515875,22.840477,3.641630,7.986805,0.441478,0.80294,2.250056,0.325172,1.693896,2.223743,...,1.011412,3.075278,4.08669,2.118628,0.723187,0.464661,1.302291,1.952192,9.780095,-0.010345
std,0.499749,10.922109,3.017081,5.615867,0.236252,1.23164,2.554412,0.307660,2.315300,2.827887,...,1.395258,2.705052,3.50173,2.487667,0.973774,0.856513,1.392476,1.475046,8.025905,10.754541
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-57.000000
25%,0.000000,15.040000,1.000000,4.000000,0.313000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.00000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,-7.000000
50%,1.000000,23.450000,3.000000,7.000000,0.444000,0.00000,1.000000,0.333000,1.000000,2.000000,...,1.000000,2.000000,3.00000,1.000000,0.000000,0.000000,1.000000,2.000000,8.000000,0.000000
75%,1.000000,31.460000,5.000000,11.000000,0.571000,1.00000,4.000000,0.500000,3.000000,4.000000,...,2.000000,4.000000,6.00000,3.000000,1.000000,1.000000,2.000000,3.000000,14.000000,7.000000
max,1.000000,64.580000,24.000000,50.000000,1.000000,14.00000,24.000000,1.000000,26.000000,39.000000,...,18.000000,23.000000,31.00000,25.000000,10.000000,12.000000,12.000000,6.000000,70.000000,57.000000

In [115]:
player_stats_combined_df.isnull().sum()

Player           0
Date             0
Team             0
Against          0
Home             0
MP           61743
FG           61743
FGA          61743
FG%          77137
3P           61743
3PA          61743
3P%         173873
FT           61743
FTA          61743
FT%         193307
ORB          61743
DRB          61743
TRB          61743
AST          61743
STL          61743
BLK          61743
TOV          61743
PF           61743
PTS          61743
+/-          61793
GameLink         0
dtype: int64

In [116]:
player_stats_combined_df[player_stats_combined_df['3P%'].isnull()]

,Player,Date,Team,Against,Home,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-,GameLink
3,Zydrunas Ilgauskas,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,30.24,3.0,5.0,0.600,0.0,...,5.0,8.0,1.0,0.0,0.0,4.0,3.0,15.0,7.0,https://www.basketball-reference.com/boxscores...
4,Ben Wallace,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,19.03,1.0,1.0,1.000,0.0,...,4.0,4.0,0.0,0.0,1.0,1.0,2.0,2.0,-1.0,https://www.basketball-reference.com/boxscores...
5,Anderson VarejÃ£o,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,26.09,3.0,6.0,0.500,0.0,...,5.0,9.0,1.0,3.0,0.0,2.0,2.0,9.0,-7.0,https://www.basketball-reference.com/boxscores...
9,Lorenzen Wright,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,10.29,1.0,3.0,0.333,0.0,...,2.0,2.0,1.0,1.0,0.0,1.0,4.0,2.0,0.0,https://www.basketball-reference.com/boxscores...
10,Tarence Kinsey,2008-10-28,Cleveland Cavaliers,Boston Celtics,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.basketball-reference.com/boxscores...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27715,J.R. Smith,2020-10-09,Los Angeles Lakers,Miami Heat,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.basketball-reference.com/boxscores...
27716,Jared Dudley,2020-10-09,Los Angeles Lakers,Miami Heat,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.basketball-reference.com/boxscores...
27717,Quinn Cook,2020-10-09,Los Angeles Lakers,Miami Heat,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.basketball-reference.com/boxscores...
27730,Bam Adebayo,2020-10-11,Miami Heat,Los Angeles Lakers,1,42.13,10.0,15.0,0.667,0.0,...,9.0,10.0,5.0,0.0,2.0,2.0,2.0,25.0,-21.0,https://www.basketball-reference.com/boxscores...
27739,Derrick Jones,2020-10-11,Miami Heat,Los Angeles Lakers,1,1.27,0.0,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,https://www.basketball-reference.com/boxscores...

While evaluating the NA values, we see that we do have a good chunk of NaN data. But we shouldn't be quick to delete, as it is quite normal for players to record 0 stats on inefficient games. 

We should also differentiate between the NaN's of player who played 0 mins and was sitting on the bench versus players who did play minutes and the NaN actually represents 0 statistics. (By this logic, we shouldn't see many NaNs in our team_combine_stats later)

In [117]:
threeptking = player_stats_combined_df[['Player','Team', 'Against', 'Date', '3PA', 'PTS']][player_stats_combined_df['3P%']==1]
threeptking[threeptking['3PA']>8]

           Player             Team         Against        Date  3PA   PTS
17170  Ben Gordon  Detroit Pistons  Denver Nuggets  2012-03-21  9.0  45.0

On March 21st, Ben Gordon was on fire from the three point line with a 9/9 performance. I dub he the Three Point King

In [118]:
print(player_stats_combined_df[['Player','Date','3PA','Against','3P%']][player_stats_combined_df['3PA']>8])

                Player        Date   3PA                 Against    3P%
156     Jamal Crawford  2008-10-29  10.0              Miami Heat  0.400
217       Kevin Martin  2008-10-29  11.0  Minnesota Timberwolves  0.273
347    Stephen Jackson  2008-10-29  12.0     New Orleans Hornets  0.417
456      Al Harrington  2008-10-31  12.0   Golden State Warriors  0.500
457    Stephen Jackson  2008-10-31  11.0   Golden State Warriors  0.364
...                ...         ...   ...                     ...    ...
27647  Markieff Morris  2020-10-04  11.0              Miami Heat  0.455
27654  Duncan Robinson  2020-10-04  10.0      Los Angeles Lakers  0.300
27693      Jae Crowder  2020-10-09   9.0      Los Angeles Lakers  0.222
27695  Duncan Robinson  2020-10-09  13.0      Los Angeles Lakers  0.538
27706     LeBron James  2020-10-09   9.0              Miami Heat  0.667

[8186 rows x 5 columns]

With the CSV appended together, we have Player data from 2008 to 2020. We are missing some columns, and have some columns we need to calculate and append. 

Columns we can calculate and append Ast/To

In [119]:
player_stats_combined_df['Ast/To'] = player_stats_combined_df['AST']/player_stats_combined_df['TOV']

In [120]:
player_stats_combined_df = player_stats_combined_df.drop(['GameLink'], axis = 1)

In [121]:
player_stats_combined_df['Date'] = pd.to_datetime(player_stats_combined_df['Date'])

In [122]:
player_stats_combined_df['Date']

0       2008-10-28
1       2008-10-28
2       2008-10-28
3       2008-10-28
4       2008-10-28
           ...
27735   2020-10-11
27736   2020-10-11
27737   2020-10-11
27738   2020-10-11
27739   2020-10-11
Name: Date, Length: 373069, dtype: datetime64[ns]

Team Stats

In [123]:
#Dataset acquired from kaggle: 
#website - "https://www.kaggle.com/rafaelgreca/nba-games-box-score-since-1949"

cs_team = pd.read_csv('/Users/Shawn/Documents/UNH_ML_SLF/MLassignments/UNH-Repo/DS_Guided_Capstone_2_Repo/virenv/team_stats/2019-2020.csv')

In [124]:
cs_team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Columns: 124 entries, gmDate to matchWinner
dtypes: float64(110), int64(4), object(10)
memory usage: 1.1+ MB

In [125]:
print(cs_team.columns.tolist())

['gmDate', 'seasonType', 'season', 'teamWins', 'teamLosses', 'teamAbbr', 'teamLoc', 'teamRslt', 'teamDayOff', 'teamPTS', 'teamAST', 'teamTO', 'teamMin', 'teamSTL', 'teamBLK', 'teamPF', 'teamFGA', 'teamFGM', 'teamFG%', 'team2PA', 'team2PM', 'team2P%', 'team3PA', 'team3PM', 'team3P%', 'teamFTA', 'teamFTM', 'teamFT%', 'teamORB', 'teamDRB', 'teamTRB', 'teamPTS1', 'teamPTS2', 'teamPTS3', 'teamPTS4', 'teamPTS5', 'teamPTS6', 'teamPTS7', 'teamPTS8', 'teamPTS9', 'teamPTS10', 'teamTREB%', 'teamASST%', 'teamTS%', 'teamEFG%', 'teamOREB%', 'teamDREB%', 'teamTO%', 'teamSTL%', 'teamBLK%', 'teamBLKR', 'teamPPS', 'teamFIC', 'teamFIC40', 'teamOrtg', 'teamDrtg', 'teamEDiff', 'teamPlay%', 'teamAR', 'teamPoss', 'teamAST/TO', 'teamPace', 'teamSTL/TO', 'opptWins', 'opptLosses', 'opptAbbr', 'opptLoc', 'opptRslt', 'opptDayOff', 'opptPTS', 'opptAST', 'opptTO', 'opptMin', 'opptSTL', 'opptBLK', 'opptPF', 'opptFGA', 'opptFGM', 'opptFG%', 'oppt2PA', 'oppt2PM', 'oppt2P%', 'oppt3PA', 'oppt3PM', 'oppt3P%', 'opptFTA', 'opptFTM', 'opptFT%', 'opptORB', 'opptDRB', 'opptTRB', 'opptPTS1', 'opptPTS2', 'opptPTS3', 'opptPTS4', 'opptPTS5', 'opptPTS6', 'opptPTS7', 'opptPTS8', 'opptPTS9', 'opptPTS10', 'opptTREB%', 'opptASST%', 'opptTS%', 'opptEFG%', 'opptOREB%', 'opptDREB%', 'opptTO%', 'opptSTL%', 'opptBLK%', 'opptBLKR', 'opptPPS', 'opptFIC', 'opptFIC40', 'opptOrtg', 'opptDrtg', 'opptEDiff', 'opptPlay%', 'opptAR', 'opptAST/TO', 'opptSTL/TO', 'opptPoss', 'opptPace', 'matchWinner']

In [126]:
cs_team.head()

,gmDate,seasonType,season,teamWins,teamLosses,teamAbbr,teamLoc,teamRslt,teamDayOff,teamPTS,...,opptOrtg,opptDrtg,opptEDiff,opptPlay%,opptAR,opptAST/TO,opptSTL/TO,opptPoss,opptPace,matchWinner
0,2019-10-22,Regular,2019-20,0,1,NOP,Away,Loss,0.0,122.0,...,115.2,108.1,7.1,0.41,18.36,1.44,0.44,112.845833,102.2,TOR
1,2019-10-22,Regular,2019-20,0,1,LAL,Away,Loss,0.0,102.0,...,117.5,107.0,10.5,0.50,22.13,1.71,0.57,95.300000,95.3,LAC
2,2019-10-23,Regular,2019-20,0,1,CHI,Away,Loss,0.0,125.0,...,124.0,123.0,1.0,0.46,21.88,1.47,0.16,101.600000,101.6,CHO
3,2019-10-23,Regular,2019-20,1,0,DET,Away,Win,0.0,119.0,...,109.8,118.8,-9.0,0.44,21.77,1.73,0.53,100.200000,100.2,DET
4,2019-10-23,Regular,2019-20,0,1,CLE,Away,Loss,0.0,85.0,...,95.2,86.1,9.1,0.40,20.94,1.85,0.92,98.700000,98.7,ORL

Data above shows very solid data quality

In [127]:
start_year = 2008
end_year = 2009

team_stats_combined_df = pd.DataFrame()

for i in range(12) :
  team_stats_file_path = '/Users/Shawn/Documents/UNH_ML_SLF/MLassignments/UNH-Repo/DS_Guided_Capstone_2_Repo/virenv/team_stats/' + str(start_year) + "-" + str(end_year) + '.csv'
  
  team_stats_combined_df = team_stats_combined_df.append(pd.read_csv(team_stats_file_path, index_col = 0))
  
  start_year = start_year + 1
  end_year = end_year + 1

In [128]:
team_stats_combined_df.describe()

,teamWins,teamLosses,teamDayOff,teamPTS,teamAST,teamTO,teamMin,teamSTL,teamBLK,teamPF,...,opptFIC40,opptOrtg,opptDrtg,opptEDiff,opptPlay%,opptAR,opptAST/TO,opptSTL/TO,opptPoss,opptPace
count,15348.000000,15348.000000,15348.000000,15348.000000,15348.000000,15348.000000,15348.000000,15348.000000,15348.000000,15348.000000,...,15348.000000,15348.000000,15348.000000,15348.000000,15348.000000,15348.000000,15348.000000,15348.000000,15348.000000,15348.000000
mean,19.071149,19.050691,1.084962,101.172465,21.568478,13.779711,241.783620,7.552320,4.655265,20.840500,...,65.788843,109.828649,106.840461,2.988187,0.446944,20.741110,1.860882,0.609734,94.695622,94.008587
std,14.199535,14.089523,5.396045,12.837442,5.061381,3.872707,7.622924,2.886563,2.466548,4.391162,...,13.780518,11.328834,11.434059,14.328792,0.052960,3.666113,0.815658,0.312194,6.461859,5.904628
min,0.000000,0.000000,-346.000000,56.000000,4.000000,3.000000,240.000000,0.000000,0.000000,5.000000,...,11.350000,69.100000,62.400000,-66.500000,0.230000,7.570000,0.380000,0.000000,76.100000,75.800000
25%,7.000000,7.000000,0.000000,92.000000,18.000000,11.000000,240.000000,6.000000,3.000000,18.000000,...,56.150000,102.200000,99.100000,-7.100000,0.410000,18.240000,1.330000,0.400000,90.200000,89.875000
50%,17.000000,17.000000,1.000000,101.000000,21.000000,14.000000,240.000000,7.000000,4.000000,21.000000,...,65.420000,109.800000,106.900000,4.100000,0.450000,20.730000,1.710000,0.560000,94.300000,93.800000
75%,29.000000,28.000000,1.000000,110.000000,25.000000,16.000000,240.000000,9.000000,6.000000,24.000000,...,74.790000,117.400000,114.500000,12.200000,0.480000,23.240000,2.190000,0.750000,98.700000,97.900000
max,72.000000,72.000000,336.000000,168.000000,46.000000,28.000000,340.000000,20.000000,17.000000,42.000000,...,128.020000,155.600000,147.400000,62.800000,0.680000,36.830000,12.500000,5.000000,142.516667,117.200000

In [129]:
team_stats_combined_df.isnull().sum()!=0

seasonType     False
season         False
teamWins       False
teamLosses     False
teamAbbr       False
               ...
opptAST/TO     False
opptSTL/TO     False
opptPoss       False
opptPace       False
matchWinner    False
Length: 123, dtype: bool

The list of columns is too long to see if there are any NaN in any of the columns.

In [130]:
team_stats_combined_df.columns[team_stats_combined_df.isnull().any()].tolist()

[]

Calling a list of columns that potentially has NaN, we see that no columns were listed. 

As expected, we are NaN free from in this dataset. Teams don't get benched.

In [131]:
#Dataset from prior investigation - NBA Combined Player Stats
#website - "https://towardsdatascience.com/predicting-the-outcome-of-nba-games-with-machine-learning-a810bb768f20"

ps_player = pd.read_csv('NBA_Combined_Player_Stats.csv', index_col= 0)

In [132]:
ps_player.head()

,PlayerName,PlayerTeam,OpposingTeam,Date,GameID,Season,Min,SST,Pts,PPP,...,2FGM,2FGm,3FGA,3FGM,3FGm,FTA,FTM,FTm,PFTkn,PFCom
0,PJ Tucker,Houston Rockets,Philadelphia 76ers,2020-08-14,732811,2019 - 2020,29:03,0.53,7,1.17,...,2,0,4,1,3,0,0,0,1,2
1,Hamidou Diallo,Oklahoma City Thunder,Los Angeles Clippers,2020-08-14,732813,2019 - 2020,39:47,1.36,27,1.04,...,6,8,8,4,4,5,3,2,5,5
2,Danilo Galinari,Oklahoma City Thunder,Los Angeles Clippers,2020-08-14,732813,2019 - 2020,8:52,1.39,3,0.75,...,0,2,1,0,1,3,3,0,1,2
3,Nerlens Noel,Oklahoma City Thunder,Los Angeles Clippers,2020-08-14,732813,2019 - 2020,15:22,0.59,5,1.00,...,2,0,0,0,0,2,1,1,1,3
4,Steven Adams,Oklahoma City Thunder,Los Angeles Clippers,2020-08-14,732813,2019 - 2020,6:22,0.35,0,0.00,...,0,2,0,0,0,0,0,0,0,0

In [133]:
ps_player.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 34 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PlayerName    10 non-null     object
 1   PlayerTeam    10 non-null     object
 2   OpposingTeam  10 non-null     object
 3   Date          10 non-null     object
 4   GameID        10 non-null     int64
 5   Season        10 non-null     object
 6   Min           10 non-null     object
 7   SST           10 non-null     float64
 8   Pts           10 non-null     int64
 9   PPP           10 non-null     float64
 10  Ast           10 non-null     int64
 11  T/O           10 non-null     int64
 12  Ast/TO        10 non-null     float64
 13  Stl           10 non-null     int64
 14  StlPos        10 non-null     int64
 15  Blk           10 non-null     int64
 16  BlkFGA        10 non-null     int64
 17  TtlReb        10 non-null     int64
 18  OffReb        10 non-null     int64
 19  DefReb        10 non-null     int64
 20  FGA           10 non-null     int64
 21  FGM           10 non-null     int64
 22  FGm           10 non-null     int64
 23  2FGA          10 non-null     int64
 24  2FGM          10 non-null     int64
 25  2FGm          10 non-null     int64
 26  3FGA          10 non-null     int64
 27  3FGM          10 non-null     int64
 28  3FGm          10 non-null     int64
 29  FTA           10 non-null     int64
 30  FTM           10 non-null     int64
 31  FTm           10 non-null     int64
 32  PFTkn         10 non-null     int64
 33  PFCom         10 non-null     int64
dtypes: float64(3), int64(25), object(6)
memory usage: 2.7+ KB

For player stats, there are 34 that cover each players statistical production for each game. In our own data, we hope to acquire at least the same columns.

In [134]:
## 2.2 REVIEWING PRIOR INVESTIGATION'S TEAM STATISTICS

In [135]:
#Dataset from prior investigation - NBA Combined Team Stats 
#website - "https://towardsdatascience.com/predicting-the-outcome-of-nba-games-with-machine-learning-a810bb768f20"

ps_team = pd.read_csv('/Users/Shawn/Documents/UNH_ML_SLF/MLassignments/UNH-Repo/DS_Guided_Capstone_2_Repo/virenv/NBA_Combined_Team_Stats.csv', index_col=0)

In [136]:
ps_team.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Columns: 199 entries, Date to A_3FG_Missed_4
dtypes: int64(191), object(8)
memory usage: 15.6+ KB

In [137]:
ps_team.head()

,Date,Game_ID,Season,H_Team,A_Team,H_Team_Record,A_Team_Record,H_Team_Home_Record,A_Team_Away_Record,H_Points,...,H_2FG_Made_4,A_2FG_Made_4,H_2FG_Missed_4,A_2FG_Missed_4,H_3FG_Attempts_4,A_3FG_Attempts_4,H_3FG_Made_4,A_3FG_Made_4,H_3FG_Missed_4,A_3FG_Missed_4
0,2020-08-14,732811,2019 - 2020,Houston Rockets,Philadelphia 76ers,44 - 27,42 - 30,24 - 11,11 - 26,96,...,5,7,3,2,13,11,2,3,11,8
1,2020-08-14,732814,2019 - 2020,Toronto Raptors,Denver Nuggets,52 - 19,46 - 26,25 - 10,20 - 15,117,...,7,6,7,9,10,6,6,4,4,2
2,2020-08-14,732812,2019 - 2020,Indiana Pacers,Miami Heat,44 - 28,44 - 28,24 - 11,15 - 21,109,...,8,5,7,8,10,8,3,2,7,6
3,2020-08-13,732808,2019 - 2020,Orlando Magic,New Orleans Pelicans,32 - 40,30 - 41,17 - 17,15 - 20,133,...,8,12,3,4,5,11,2,2,3,9
4,2020-08-13,732809,2019 - 2020,Phoenix Suns,Dallas Mavericks,33 - 39,43 - 31,16 - 22,23 - 13,128,...,5,7,7,8,9,6,3,1,6,5

In [138]:
ps_team.columns.to_list()

['Date',
 'Game_ID',
 'Season',
 'H_Team',
 'A_Team',
 'H_Team_Record',
 'A_Team_Record',
 'H_Team_Home_Record',
 'A_Team_Away_Record',
 'H_Points',
 'A_Points',
 'H_Total_Rebounds',
 'A_Total_Rebounds',
 'H_Offensive_Rebounds',
 'A_Offensive_Rebounds',
 'H_Defensive_Rebounds',
 'A_Defensive_Rebounds',
 'H_Assists',
 'A_Assists',
 'H_Turnovers',
 'A_Turnovers',
 'H_Steals',
 'A_Steals',
 'H_Blocks',
 'A_Blocks',
 'H_All_Free_Throws',
 'A_All_Free_Throws',
 'H_Live_Free_Throws',
 'A_Live_Free_Throws',
 'H_FG_Attempts',
 'A_FG_Attempts',
 'H_FG_Made',
 'A_FG_Made',
 'H_FG_Missed',
 'A_FG_Missed',
 'H_2FG_Attempts',
 'A_2FG_Attempts',
 'H_2FG_Made',
 'A_2FG_Made',
 'H_2FG_Missed',
 'A_2FG_Missed',
 'H_3FG_Attempts',
 'A_3FG_Attempts',
 'H_3FG_Made',
 'A_3FG_Made',
 'H_3FG_Missed',
 'A_3FG_Missed',
 'H_Points_1',
 'A_Points_1',
 'H_Total_Rebounds_1',
 'A_Total_Rebounds_1',
 'H_Offensive_Rebounds_1',
 'A_Offensive_Rebounds_1',
 'H_Defensive_Rebounds_1',
 'A_Defensive_Rebounds_1',
 'H_Assists_1',
 'A_Assists_1',
 'H_Turnovers_1',
 'A_Turnovers_1',
 'H_Steals_1',
 'A_Steals_1',
 'H_Blocks_1',
 'A_Blocks_1',
 'H_All_Free_Throws_1',
 'A_All_Free_Throws_1',
 'H_Live_Free_Throws_1',
 'A_Live_Free_Throws_1',
 'H_FG_Attempts_1',
 'A_FG_Attempts_1',
 'H_FG_Made_1',
 'A_FG_Made_1',
 'H_FG_Missed_1',
 'A_FG_Missed_1',
 'H_2FG_Attempts_1',
 'A_2FG_Attempts_1',
 'H_2FG_Made_1',
 'A_2FG_Made_1',
 'H_2FG_Missed_1',
 'A_2FG_Missed_1',
 'H_3FG_Attempts_1',
 'A_3FG_Attempts_1',
 'H_3FG_Made_1',
 'A_3FG_Made_1',
 'H_3FG_Missed_1',
 'A_3FG_Missed_1',
 'H_Points_2',
 'A_Points_2',
 'H_Total_Rebounds_2',
 'A_Total_Rebounds_2',
 'H_Offensive_Rebounds_2',
 'A_Offensive_Rebounds_2',
 'H_Defensive_Rebounds_2',
 'A_Defensive_Rebounds_2',
 'H_Assists_2',
 'A_Assists_2',
 'H_Turnovers_2',
 'A_Turnovers_2',
 'H_Steals_2',
 'A_Steals_2',
 'H_Blocks_2',
 'A_Blocks_2',
 'H_All_Free_Throws_2',
 'A_All_Free_Throws_2',
 'H_Live_Free_Throws_2',
 'A_Live_Free_Throws_2',
 'H_FG_Attempts_2',
 'A_FG_Attempts_2',
 'H_FG_Made_2',
 'A_FG_Made_2',
 'H_FG_Missed_2',
 'A_FG_Missed_2',
 'H_2FG_Attempts_2',
 'A_2FG_Attempts_2',
 'H_2FG_Made_2',
 'A_2FG_Made_2',
 'H_2FG_Missed_2',
 'A_2FG_Missed_2',
 'H_3FG_Attempts_2',
 'A_3FG_Attempts_2',
 'H_3FG_Made_2',
 'A_3FG_Made_2',
 'H_3FG_Missed_2',
 'A_3FG_Missed_2',
 'H_Points_3',
 'A_Points_3',
 'H_Total_Rebounds_3',
 'A_Total_Rebounds_3',
 'H_Offensive_Rebounds_3',
 'A_Offensive_Rebounds_3',
 'H_Defensive_Rebounds_3',
 'A_Defensive_Rebounds_3',
 'H_Assists_3',
 'A_Assists_3',
 'H_Turnovers_3',
 'A_Turnovers_3',
 'H_Steals_3',
 'A_Steals_3',
 'H_Blocks_3',
 'A_Blocks_3',
 'H_All_Free_Throws_3',
 'A_All_Free_Throws_3',
 'H_Live_Free_Throws_3',
 'A_Live_Free_Throws_3',
 'H_FG_Attempts_3',
 'A_FG_Attempts_3',
 'H_FG_Made_3',
 'A_FG_Made_3',
 'H_FG_Missed_3',
 'A_FG_Missed_3',
 'H_2FG_Attempts_3',
 'A_2FG_Attempts_3',
 'H_2FG_Made_3',
 'A_2FG_Made_3',
 'H_2FG_Missed_3',
 'A_2FG_Missed_3',
 'H_3FG_Attempts_3',
 'A_3FG_Attempts_3',
 'H_3FG_Made_3',
 'A_3FG_Made_3',
 'H_3FG_Missed_3',
 'A_3FG_Missed_3',
 'H_Points_4',
 'A_Points_4',
 'H_Total_Rebounds_4',
 'A_Total_Rebounds_4',
 'H_Offensive_Rebounds_4',
 'A_Offensive_Rebounds_4',
 'H_Defensive_Rebounds_4',
 'A_Defensive_Rebounds_4',
 'H_Assists_4',
 'A_Assists_4',
 'H_Turnovers_4',
 'A_Turnovers_4',
 'H_Steals_4',
 'A_Steals_4',
 'H_Blocks_4',
 'A_Blocks_4',
 'H_All_Free_Throws_4',
 'A_All_Free_Throws_4',
 'H_Live_Free_Throws_4',
 'A_Live_Free_Throws_4',
 'H_FG_Attempts_4',
 'A_FG_Attempts_4',
 'H_FG_Made_4',
 'A_FG_Made_4',
 'H_FG_Missed_4',
 'A_FG_Missed_4',
 'H_2FG_Attempts_4',
 'A_2FG_Attempts_4',
 'H_2FG_Made_4',
 'A_2FG_Made_4',
 'H_2FG_Missed_4',
 'A_2FG_Missed_4',
 'H_3FG_Attempts_4',
 'A_3FG_Attempts_4',
 'H_3FG_Made_4',
 'A_3FG_Made_4',
 'H_3FG_Missed_4',
 'A_3FG_Missed_4']

This may seem extensive, and as we progress towards EDA we will review if all is necessary.