In [1]:
import sqlite3 
import pandas as pd

In [2]:
conn = sqlite3.connect("/Users/Shawn/Documents/UNH_ML_SLF/MLassignments/UNH-Repo/SQLFiles_Tier_2/sqlite_db_pythonsqlite.db")
c = conn.cursor()
c.execute("SELECT * FROM facilities")
print(c.fetchall())

c.close()

[(0, 'Tennis Court 1', 5, 25, 10000, 200), (1, 'Tennis Court 2', 5, 25, 8000, 200), (2, 'Badminton Court', 0, 15.5, 4000, 50), (3, 'Table Tennis', 0, 5, 320, 10), (4, 'Massage Room 1', 9.9, 80, 4000, 3000), (5, 'Massage Room 2', 9.9, 80, 4000, 3000), (6, 'Squash Court', 3.5, 17.5, 5000, 80), (7, 'Snooker Table', 0, 5, 450, 15), (8, 'Pool Table', 0, 5, 400, 15)]

/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

In [3]:
def task(query):
    conn = sqlite3.connect("/Users/Shawn/Documents/UNH_ML_SLF/MLassignments/UNH-Repo/SQLFiles_Tier_2/sqlite_db_pythonsqlite.db")
    c = conn.cursor()
    c.execute(query)
    print(c.fetchall())
    c.close()

In [4]:
query1 = 'SELECT sub.name, SUM(sub.cost) AS revenue FROM (SELECT f.name, CASE WHEN b.memid != 0 THEN f.membercost*b.slots WHEN b.memid = 0 THEN f.guestcost*b.slots END AS Cost FROM bookings AS b LEFT JOIN facilities AS f ON b.facid = f.facid Left JOIN members AS m ON b.memid = m.memid) sub GROUP BY sub.name HAVING revenue < 1000 '

In [5]:
task(query1)

[('Pool Table', 270), ('Snooker Table', 240), ('Table Tennis', 180)]

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [6]:
query2 = 'SELECT m1.surname||m1.firstname AS Member, m2.surname||m2.firstname AS Recommender FROM Members AS m1 Left Join Members AS m2 ON m1.recommendedby = m2.memid WHERE m1.recommendedby != 0 ORDER BY Member'

In [7]:
task(query2)

[('BaderFlorence', 'StibbonsPonder'), ('BakerAnne', 'StibbonsPonder'), ('BakerTimothy', 'FarrellJemima'), ('BootheTim', 'RownamTim'), ('ButtersGerald', 'SmithDarren'), ('CoplinJoan', 'BakerTimothy'), ('CrumpetErica', 'SmithTracy'), ('DareNancy', 'JopletteJanice'), ('FarrellDavid', None), ('FarrellJemima', None), ('GUESTGUEST', None), ('GentingMatthew', 'ButtersGerald'), ('HuntJohn', 'PurviewMillicent'), ('JonesDavid', 'JopletteJanice'), ('JonesDouglas', 'JonesDavid'), ('JopletteJanice', 'SmithDarren'), ('MackenzieAnna', 'SmithDarren'), ('OwenCharles', 'SmithDarren'), ('PinkerDavid', 'FarrellJemima'), ('PurviewMillicent', 'SmithTracy'), ('RownamTim', None), ('RumneyHenrietta', 'GentingMatthew'), ('SarwinRamnaresh', 'BaderFlorence'), ('SmithDarren', None), ('SmithDarren', None), ('SmithJack', 'SmithDarren'), ('SmithTracy', None), ('StibbonsPonder', 'TracyBurton'), ('TracyBurton', None), ('TupperwareHyacinth', None), ('Worthington-SmythHenry', 'SmithTracy')]

/* Q12: Find the facilities with their usage by member, but not guests */

In [8]:
query3 = 'SELECT f.name, SUM(b.slots) FROM Bookings AS b LEFT JOIN Facilities AS f  ON b.facid = f.facid LEFT JOIN Members AS m  ON b.memid = m.memid WHERE b.memid != 0  GROUP BY f.name'

In [9]:
task(query3)

[('Badminton Court', 1086), ('Massage Room 1', 884), ('Massage Room 2', 54), ('Pool Table', 856), ('Snooker Table', 860), ('Squash Court', 418), ('Table Tennis', 794), ('Tennis Court 1', 957), ('Tennis Court 2', 882)]

In [31]:
query4 = 'SELECT f.name, SUM(b.slots), strftime("%m", b.starttime) AS Month FROM Bookings AS b LEFT JOIN Facilities AS f  ON b.facid = f.facid LEFT JOIN Members AS m  ON b.memid = m.memid WHERE b.memid != 0 AND Month = "08" GROUP BY f.name'

In [32]:
task(query4)

[('Badminton Court', 414, '08'), ('Massage Room 1', 316, '08'), ('Massage Room 2', 18, '08'), ('Pool Table', 303, '08'), ('Snooker Table', 316, '08'), ('Squash Court', 184, '08'), ('Table Tennis', 296, '08'), ('Tennis Court 1', 339, '08'), ('Tennis Court 2', 345, '08')]

The Query above filters by Month. Is there a way to present facilities as columns, with sum of slots for each month in columns? Case WHEN?