This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'gcDWs3NLL9XajVdurEx5'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import requests
import pandas as pd

Note: API's can change a bit with each version, for this exercise it is reccomended to use the "V3" quandl api at `https://www.quandl.com/api/v3/`

In [5]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
url = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json?start_date=2018-07-30&end_date=2018-07-31&api_key=gcDWs3NLL9XajVdurEx5'
r = requests.get(url)

In [6]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
json_data = r.json()

for k in json_data.keys():
    print(k + ': ', json_data[k])

dataset_data:  {'limit': None, 'transform': None, 'column_index': None, 'column_names': ['Date', 'Open', 'High', 'Low', 'Close', 'Change', 'Traded Volume', 'Turnover', 'Last Price of the Day', 'Daily Traded Units', 'Daily Turnover'], 'start_date': '2018-07-30', 'end_date': '2018-07-31', 'frequency': 'daily', 'data': [['2018-07-31', None, 67.55, 65.9, 66.45, None, 84168.0, 5597404.0, None, None, None], ['2018-07-30', None, 67.35, 66.85, 67.2, None, 35731.0, 2399532.0, None, None, None]], 'collapse': None, 'order': None}

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [8]:
url2 = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json?start_date=2017-01-01&end_date=2017-12-31&api_key=gcDWs3NLL9XajVdurEx5'
r2 = requests.get(url2)

In [20]:
json_data2 = r2.json()
json_data = json_data2['dataset_data']['data']

In [26]:
json_keys = json_data2['dataset_data']['column_names']
print(json_keys)

['Date', 'Open', 'High', 'Low', 'Close', 'Change', 'Traded Volume', 'Turnover', 'Last Price of the Day', 'Daily Traded Units', 'Daily Turnover']

In [37]:
df = pd.DataFrame(json_data)
print(df)

             0      1      2      3      4   5         6          7     8   \
0    2017-12-29  51.76  51.94  51.45  51.76 NaN   34640.0  1792304.0  None
1    2017-12-28  51.65  51.82  51.43  51.60 NaN   40660.0  2099024.0  None
2    2017-12-27  51.45  51.89  50.76  51.82 NaN   57452.0  2957018.0  None
3    2017-12-22  51.05  51.50  50.92  51.32 NaN   71165.0  3641949.0  None
4    2017-12-21  51.16  51.52  50.90  51.40 NaN  120649.0  6179433.0  None
..          ...    ...    ...    ...    ...  ..       ...        ...   ...
250  2017-01-06  34.91  35.21  34.91  35.04 NaN   27507.0   964046.0  None
251  2017-01-05  35.02  35.20  34.73  35.06 NaN   48412.0  1692326.0  None
252  2017-01-04  35.48  35.51  34.75  35.19 NaN   54408.0  1906810.0  None
253  2017-01-03  35.90  35.93  35.34  35.48 NaN   70618.0  2515473.0  None
254  2017-01-02  34.99  35.94  34.99  35.80 NaN   44700.0  1590561.0  None

       9     10
0    None  None
1    None  None
2    None  None
3    None  None
4    None  None
..    ...   ...
250  None  None
251  None  None
252  None  None
253  None  None
254  None  None

[255 rows x 11 columns]

In [38]:
len(json_keys)

11

In [39]:
df.columns = json_keys

In [40]:
print(df)

           Date   Open   High    Low  Close  Change  Traded Volume   Turnover  \
0    2017-12-29  51.76  51.94  51.45  51.76     NaN        34640.0  1792304.0
1    2017-12-28  51.65  51.82  51.43  51.60     NaN        40660.0  2099024.0
2    2017-12-27  51.45  51.89  50.76  51.82     NaN        57452.0  2957018.0
3    2017-12-22  51.05  51.50  50.92  51.32     NaN        71165.0  3641949.0
4    2017-12-21  51.16  51.52  50.90  51.40     NaN       120649.0  6179433.0
..          ...    ...    ...    ...    ...     ...            ...        ...
250  2017-01-06  34.91  35.21  34.91  35.04     NaN        27507.0   964046.0
251  2017-01-05  35.02  35.20  34.73  35.06     NaN        48412.0  1692326.0
252  2017-01-04  35.48  35.51  34.75  35.19     NaN        54408.0  1906810.0
253  2017-01-03  35.90  35.93  35.34  35.48     NaN        70618.0  2515473.0
254  2017-01-02  34.99  35.94  34.99  35.80     NaN        44700.0  1590561.0

    Last Price of the Day Daily Traded Units Daily Turnover
0                    None               None           None
1                    None               None           None
2                    None               None           None
3                    None               None           None
4                    None               None           None
..                    ...                ...            ...
250                  None               None           None
251                  None               None           None
252                  None               None           None
253                  None               None           None
254                  None               None           None

[255 rows x 11 columns]

In [41]:
High_Open = df.sort_values('Open', ascending = False)
print(High_Open)

           Date   Open    High     Low  Close  Change  Traded Volume  \
9    2017-12-14  53.11  53.540  52.150  52.67     NaN       132981.0
6    2017-12-19  52.73  52.730  51.070  51.66     NaN       137313.0
8    2017-12-15  52.70  52.700  51.640  52.01     NaN       204080.0
10   2017-12-13  52.64  53.350  52.480  53.09     NaN       128434.0
7    2017-12-18  52.37  52.750  51.610  52.62     NaN       129733.0
..          ...    ...     ...     ...    ...     ...            ...
239  2017-01-23  34.04  34.120  33.620  34.06     NaN        55333.0
238  2017-01-24  34.00  34.350  33.850  34.22     NaN        48797.0
169  2017-05-01    NaN  42.245  41.655  41.72   -0.44        86348.0
179  2017-04-17    NaN  42.480  41.985  42.20     NaN        88416.0
180  2017-04-14    NaN  42.480  41.985  42.20     NaN        88416.0

       Turnover Last Price of the Day Daily Traded Units Daily Turnover
9     7016953.0                  None               None           None
6     7102361.0                  None               None           None
8    10596319.0                  None               None           None
10    6801159.0                  None               None           None
7     6770499.0                  None               None           None
..          ...                   ...                ...            ...
239   1877957.0                  None               None           None
238   1666086.0                  None               None           None
169   3606589.0                  None               None           None
179   3734717.0                  None               None           None
180   3734717.0                  None               None           None

[255 rows x 11 columns]

In [ ]:
#Answer: The highest and lowest opening prices for this period in time was December 14th 
#at a price of $53.11 and January 24th 2017 at a price of $34.00.

In [44]:
diff = df.High - df.Low
df['diff'] = diff

In [46]:
print(df.sort_values('diff', ascending=False))

           Date   Open   High    Low  Close  Change  Traded Volume  \
161  2017-05-11  43.40  46.06  43.25  45.00     NaN       189125.0
100  2017-08-07  45.85  46.34  44.02  44.96     NaN       164543.0
224  2017-02-13  37.37  39.36  37.35  38.53     NaN       177171.0
98   2017-08-09  43.50  43.50  41.64  41.81     NaN       355857.0
26   2017-11-21  47.25  48.59  46.78  48.39     NaN        78502.0
..          ...    ...    ...    ...    ...     ...            ...
250  2017-01-06  34.91  35.21  34.91  35.04     NaN        27507.0
203  2017-03-14  41.20  41.50  41.20  41.30     NaN        60420.0
227  2017-02-08  35.98  36.14  35.84  36.05     NaN        39731.0
145  2017-06-02  46.80  46.99  46.72  46.99     NaN          290.0
76   2017-09-08  42.70  42.75  42.56  42.67     NaN        59881.0

       Turnover Last Price of the Day Daily Traded Units Daily Turnover  diff
161   8496322.0                  None               None           None  2.81
100   7378816.0                  None               None           None  2.32
224   6804028.0                  None               None           None  2.01
98   15003956.0                  None               None           None  1.86
26    3782098.0                  None               None           None  1.81
..          ...                   ...                ...            ...   ...
250    964046.0                  None               None           None  0.30
203   2498025.0                  None               None           None  0.30
227   1431205.0                  None               None           None  0.30
145     13584.0                  None               None           None  0.27
76    2553977.0                  None               None           None  0.19

[255 rows x 12 columns]

In [ ]:
#Answer: The biggest change in a single day in ticket price was May 11th, 2017 with 
#a price fluctuation of $2.81.

In [47]:
print(df.head())

         Date   Open   High    Low  Close  Change  Traded Volume   Turnover  \
0  2017-12-29  51.76  51.94  51.45  51.76     NaN        34640.0  1792304.0
1  2017-12-28  51.65  51.82  51.43  51.60     NaN        40660.0  2099024.0
2  2017-12-27  51.45  51.89  50.76  51.82     NaN        57452.0  2957018.0
3  2017-12-22  51.05  51.50  50.92  51.32     NaN        71165.0  3641949.0
4  2017-12-21  51.16  51.52  50.90  51.40     NaN       120649.0  6179433.0

  Last Price of the Day Daily Traded Units Daily Turnover  diff
0                  None               None           None  0.49
1                  None               None           None  0.39
2                  None               None           None  1.13
3                  None               None           None  0.58
4                  None               None           None  0.62

In [79]:
df['diff'] = df.Close.diff().abs()

In [80]:
print(df.sort_values('diff', ascending=False))

           Date   Open   High    Low  Close  Change  Traded Volume   Turnover  \
99   2017-08-08  44.90  45.09  44.15  44.37     NaN       156168.0  6941408.0
198  2017-03-21  41.80  41.83  40.97  40.98     NaN        56906.0  2349965.0
162  2017-05-10  43.50  43.60  42.53  43.28     NaN        91858.0  3958630.0
63   2017-09-27  42.35  42.49  41.78  42.04     NaN        76600.0  3219861.0
225  2017-02-10  36.65  37.50  36.57  37.06     NaN       115843.0  4291017.0
..          ...    ...    ...    ...    ...     ...            ...        ...
33   2017-11-10  47.30  48.89  47.16  48.34     NaN        90245.0  4361552.0
144  2017-06-06  47.12  47.45  46.21  47.43     NaN          686.0    32083.0
170  2017-04-28  42.17  42.25  41.66  41.72     NaN        86348.0  3606589.0
89   2017-08-22  42.46  42.96  42.40  42.71     NaN        95376.0  4075646.0
0    2017-12-29  51.76  51.94  51.45  51.76     NaN        34640.0  1792304.0

    Last Price of the Day Daily Traded Units Daily Turnover  diff
99                   None               None           None  2.56
198                  None               None           None  2.04
162                  None               None           None  1.72
63                   None               None           None  1.52
225                  None               None           None  1.47
..                    ...                ...            ...   ...
33                   None               None           None  0.00
144                  None               None           None  0.00
170                  None               None           None  0.00
89                   None               None           None  0.00
0                    None               None           None   NaN

[255 rows x 12 columns]

In [ ]:
#Answer: Biggest difference between 2 days would be day 99 (Aug 8th, 2017) and 
#day 100 (Aug 9th, 2017) with a difference of $2.56

In [96]:
traded_volume = df.iloc[:,6]

In [97]:
print(traded_volume.mean())

89124.33725490196

In [ ]:
#Answer The mean traded volume for this time is 89,124.33

In [98]:
traded_volume.median(skipna=True)

76286.0

In [ ]:
#Answer The median for the traded volume of this time is 76286